@theme inline {
  /* Stone */
  --color-stone-50: oklch(97% 0.002 78.3);
  --color-stone-100: oklch(89.8% 0.012 78.3);
  --color-stone-200: oklch(82.2% 0.018 78.3);
  --color-stone-300: oklch(74.4% 0.022 78.3);
  --color-stone-400: oklch(66.5% 0.024 78.3);
  --color-stone-500: oklch(58.6% 0.025 78.3);
  --color-stone-600: oklch(50.6% 0.024 78.3);
  --color-stone-700: oklch(42.5% 0.022 78.3);
  --color-stone-800: oklch(34.4% 0.018 78.3);
  --color-stone-900: oklch(26.2% 0.012 78.3);
  --color-stone-950: oklch(18% 0.002 78.3);
  /* Slate */
  --color-slate-50: oklch(97% 0.002 210.2);
  --color-slate-100: oklch(89.8% 0.012 210.2);
  --color-slate-200: oklch(82.2% 0.018 210.2);
  --color-slate-300: oklch(74.4% 0.022 210.2);
  --color-slate-400: oklch(66.5% 0.024 210.2);
  --color-slate-500: oklch(58.6% 0.025 210.2);
  --color-slate-600: oklch(50.6% 0.024 210.2);
  --color-slate-700: oklch(42.5% 0.022 210.2);
  --color-slate-800: oklch(34.4% 0.018 210.2);
  --color-slate-900: oklch(26.2% 0.012 210.2);
  --color-slate-950: oklch(18% 0.002 210.2);
  /* Teal */
  --color-teal-50: oklch(97% 0.002 198.7);
  --color-teal-100: oklch(89.8% 0.017 198.7);
  --color-teal-200: oklch(82.2% 0.025 198.7);
  --color-teal-300: oklch(74.4% 0.031 198.7);
  --color-teal-400: oklch(66.5% 0.035 198.7);
  --color-teal-500: oklch(58.6% 0.036 198.7);
  --color-teal-600: oklch(50.6% 0.035 198.7);
  --color-teal-700: oklch(42.5% 0.031 198.7);
  --color-teal-800: oklch(34.4% 0.025 198.7);
  --color-teal-900: oklch(26.2% 0.017 198.7);
  --color-teal-950: oklch(18% 0.002 198.7);
  /* Terracota */
  --color-terracotta-50: oklch(97% 0.007 38.7);
  --color-terracotta-100: oklch(89.8% 0.047 38.7);
  --color-terracotta-200: oklch(82.2% 0.07 38.7);
  --color-terracotta-300: oklch(74.4% 0.086 38.7);
  --color-terracotta-400: oklch(66.5% 0.096 38.7);
  --color-terracotta-500: oklch(58.6% 0.099 38.7);
  --color-terracotta-600: oklch(50.6% 0.096 38.7);
  --color-terracotta-700: oklch(42.5% 0.086 38.7);
  --color-terracotta-800: oklch(34.4% 0.07 38.7);
  --color-terracotta-900: oklch(26.2% 0.047 38.7);
  --color-terracotta-950: oklch(18% 0.007 38.7);
  /* Red */
  --color-red-50: oklch(97% 0.012 31.6);
  --color-red-100: oklch(88.5% 0.062 34.6);
  --color-red-200: oklch(81.1% 0.108 32.7);
  --color-red-300: oklch(74.4% 0.148 31.6);
  --color-red-400: oklch(66.5% 0.164 31.6);
  --color-red-500: oklch(58.6% 0.17 31.6);
  --color-red-600: oklch(50.6% 0.164 31.6);
  --color-red-700: oklch(42.5% 0.148 31.6);
  --color-red-800: oklch(34.4% 0.12 31.6);
  --color-red-900: oklch(26.2% 0.08 31.6);
  --color-red-950: oklch(18% 0.012 31.6);
}
